.bordered {
  border:1px solid #cecece;
}
.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f5f5f5;
  border: none;
  box-shadow: none;
  color: #181818;
  font-size: 15px;
  height: 50px;
  padding: 11px 20px;
}